.cart {
	display: flex;
	flex-direction: column;
	width: 340px;
	position: absolute;
	top: 55px;
	right: 10px;
	border: 1px solid white;
	border-radius: 4px;
	background-color: #69561a;
	&__info {
		display: flex;
		justify-content: space-between;
		margin-top: 1em;
		padding: 1em;
	}
	&__title {
		padding: 0.5em;
		font-size: 2rem;
		text-align: center;
	}
	&__count,
	&__value {
		font-size: 1.6rem;
	}
	&__items {
		font-size: 1.6rem;
		padding: 1em;
		background-color: #c6931b;
		text-align: center;
	}
	&__list {
		text-decoration: none;
	}
	&__item {
		padding: 1em 0;
		display: flex;
		justify-content: space-between;
		// flex-grow: 1;
	}
	&__item p {
		max-width: 100px;
		flex-grow: 1;
		text-align: left;
	}
	&__item p:nth-child(2),
	&__item p:nth-child(3) {
		text-align: right;
	}
}
