.cart {
	display: flex;
	flex-direction: column;
	width: 340px;
	position: absolute;
	top: 55px;
	right: 10px;
	border: 2px solid white;
	border-radius: 4px;
	background-color: #69561a;
	&__info {
		display: flex;
		justify-content: space-between;
		margin-top: 1em;
		padding: 1em;
	}
	&__title {
		padding: 0.5em;
		font-size: 2rem;
		text-align: center;
	}
	&__count,
	&__value {
		font-size: 1.6rem;
	}
	&__items {
		font-size: 1.6rem;
		padding: 1em;
		background-color: #c6931b;
		text-align: center;
	}
	&__list {
		list-style: none;
	}
	&__wrapper {
		border-bottom: 1px solid #69561a;
	}
	&__wrapper:nth-last-child(1) {
		border-bottom: none;
	}
	&__item {
		padding: 1em 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item p {
		max-width: 100px;
		flex-grow: 1;
		text-align: left;
	}
	&__item p:nth-child(2) {
		text-align: center;
	}
	&__item p:nth-child(3) {
		text-align: right;
	}
	&__btns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		padding: 10px;
		border: none;
		border-radius: 4px;
		background-color: #795606;
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		color: white;
	}
	&__options {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding: 0.5em 0;
		// flex-grow: 1;
	}

	&__removeBtn {
		padding: 0.5em 1em;
		font-family: "Lato", sans-serif;
		border-radius: 4px;
		border: none;
		background-color: #1b8231;
		color: white;
		letter-spacing: 2px;
	}
	&__itemCount {
		width: 25px;
	}
	&__settingsIcon {
		font-size: 2rem;
	}
	&__details {
		padding: 1em 0;
	}
}
