.nav {
	background-color: rgb(233, 155, 0);
	&__wrap {
		margin: 0 auto;
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logoBox {
		display: flex;
		text-decoration: none;
		align-items: center;
		cursor: pointer;
	}
	&__logo {
		margin: 5px;
		height: 100px;
		width: 100px;
		border-radius: 50%;
	}
	&__title {
		display: none;
		color: white;
		font-size: 22px;
	}
	&__btn {
		margin-right: 10px;
		padding: 10px;
		border: none;
		border-radius: 4px;
		background-color: #795606;
		letter-spacing: 2px;
		font-size: 14px;
		cursor: pointer;
		color: white;
		&--login {
			padding: 12px;
		}
	}
	&__btns {
		display: flex;
	}
	a {
		text-decoration: none;
	}
	&__userAccount {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__userName {
		font-size: 20px;
		color: #795606;
	}
	&__userIcon {
		margin: 0 10px;
		padding: 10px;
		width: 17px;
		height: 17px;
		border: 2px solid #795606;
		border-radius: 50%;
		background-color: #795606;
	}
	&__cartIcon {
		width: 17px;
		height: 17px;
	}
	&__burger {
		position: fixed;
		bottom: 30px;
		right: 30px;
		background-color: #795606;
		border: 1px solid white;
		border-radius: 50%;
	}
	&__burgerIcon {
		width: 30px;
		height: 30px;
		padding: 15px;
	}
	&__list {
		display: none;
		position: absolute;
		bottom: 80px;
		right: 70px;
		border-radius: 4px;
		background-color: #795606;
		list-style: none;
	}
	&__list.showMenu {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
	}
	&__item {
		padding: 2em;
		letter-spacing: 2px;
	}
}

@media (min-width: 576px) {
	.nav {
		&__title {
			display: block;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__burger {
			display: none;
		}
		&__list {
			display: flex;
			flex-direction: row !important;
			width: 300px;
			justify-content: space-between;
			align-items: center;
			position: unset;
			bottom: unset;
			right: unset;
			border-radius: unset;
			background-color: unset;
			cursor: pointer;
		}
		&__item {
			padding: unset;
		}
	}
}
